<html>
<head>
<title>Estrazioni Lotto Anno Corrente</title>
</head>
<body>
<table class="tabellaEstrazioni-arch">
<thead>
<tr class="rif-estr-arch">
<td class="estr-n-arch" colspan="3">Estrazione n. 165</td>
<td class="datetime-arch" colspan="3">del Giovedì 16 ottobre 2025</td>
</tr>
<tr>
<th class="nomeRuota-arch thRuota-arch">RUOTA</th>
<th class="thEstratto-arch">1<sup>o</sup> estr.</th>
<th class="thEstratto-arch">2<sup>o</sup> estr.</th>
<th class="thEstratto-arch">3<sup>o</sup> estr.</th>
<th class="thEstratto-arch">4<sup>o</sup> estr.</th>
<th class="thEstratto-arch">5<sup>o</sup> estr.</th>
</tr>
</thead>
<tbody>
<tr>
<td class="nomeRuota-arch estratto-arch">Bari</td>
<td><span>3</span></td>
<td><span>66</span></td>
<td><span>37</span></td>
<td><span>18</span></td>
<td><span class="oro">61</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Cagliari</td>
<td><span>26</span></td>
<td><span>22</span></td>
<td><span>85</span></td>
<td><span>20</span></td>
<td><span class="oro">43</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Firenze</td>
<td><span>29</span></td>
<td><span>61</span></td>
<td><span>85</span></td>
<td><span>67</span></td>
<td><span class="oro">75</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Genova</td>
<td><span>40</span></td>
<td><span>63</span></td>
<td><span>74</span></td>
<td><span>19</span></td>
<td><span class="oro">78</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Milano</td>
<td><span>43</span></td>
<td><span>80</span></td>
<td><span>34</span></td>
<td><span>54</span></td>
<td><span class="oro">70</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Napoli</td>
<td><span>18</span></td>
<td><span>78</span></td>
<td><span>89</span></td>
<td><span>15</span></td>
<td><span class="oro">27</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Palermo</td>
<td><span>38</span></td>
<td><span>84</span></td>
<td><span>88</span></td>
<td><span>6</span></td>
<td><span class="oro">62</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Roma</td>
<td><span>60</span></td>
<td><span>14</span></td>
<td><span>40</span></td>
<td><span>84</span></td>
<td><span class="oro">43</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Torino</td>
<td><span>51</span></td>
<td><span>62</span></td>
<td><span>58</span></td>
<td><span>65</span></td>
<td><span class="oro">52</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Venezia</td>
<td><span>7</span></td>
<td><span>61</span></td>
<td><span>48</span></td>
<td><span>63</span></td>
<td><span class="oro">87</span></td>
</tr>
<tr>
<td class="nomeRuota-arch estratto-arch">Nazionale</td>
<td><span>60</span></td>
<td><span>36</span></td>
<td><span>11</span></td>
<td><span>28</span></td>
<td><span class="oro">31</span></td>
</tr>
</tbody>
</table>
</body>
</html>